.player {
    background-color: lightgrey;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}

.player__name {
    font-weight: bold;
}

.player__cards {
    display: flex;
    flex-direction: row;
}

.player__pairs {
    display: flex;
    flex-direction: row;
}

.player__pair {
    display: flex;
    flex-direction: row;
    margin: 8px
}

.player__pair .card {
    font-size: 15px;
    margin: 2px;
}

.player--turn {
    background-color: lightblue;
    border: 2px solid blue;;
}

.player--disconnected {
    background-color: pink;
}