.player {
    background-color: lightgrey;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}

.player__name {
    font-weight: bold;
}

.player__cards {
    display: flex;
    flex-direction: row;
}

.player__card {
    
}

.player--turn {
    background-color: lightblue;
    border: 2px solid blue;;
}